/* CarouselPage.css */
.carousel-item {
    height: 100vh; /* Usa 100vh para tomar toda la altura de la ventana del navegador */
  }
  
  .carousel img {
    width: 100%; /* Asegura que la imagen cubra completamente el ancho */
    height: 100vh; /* Usa 100vh para tomar toda la altura de la ventana del navegador */
    object-fit: cover; /* Esto evita que la imagen se distorsione */
  }