.button-overlay-container {
  position: absolute;
  top: 7%;
  left: 50%;
  transform: translateX(-50%);  /* Desplazar el elemento a la izquierda la mitad de su ancho */
  z-index: 1001; /* Ajuste fino para asegurar que esté sobre otros elementos */
}

.dropdown-item-dark {
  color: #ffffff; /* Color de texto blanco */
  background-color: #343a40; /* Color de fondo oscuro */
}
.dropdown-menu-dark {
  background-color: #343a40; /* Color de fondo oscuro */
}
.dropdown-menu{
  background-color: #343a40; /* Color de fondo oscuro */
}
.dropdown-item-dark:hover {
  background-color: #495057; /* Color de fondo al pasar el ratón */
}

.button-overlay {
  padding: 8px 16px;
  margin: 5px;
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease; /* Transición suave al cambiar el color de fondo */
}

.button-overlay:hover {
  background-color: rgba(255, 255, 255, 1); /* Cambio de color al hacer hover */
}

.text-overlay-container {
  position: absolute;
  top: 11%;
  left: 10px;
  width: 200px;
  padding: 10px;
  border-radius: 5px;
  z-index: 1000;
  font-family: Arial, sans-serif;
  font-size: 14px;
}
.text-overlay-container-ELOTRO {
  position: absolute;
  top: 11%;
  right: 120px; /* Cambiado de 'left' a 'right' */
  width: 200px;
  padding: 10px;
  border-radius: 5px;
  z-index: 1000;
  font-family: Arial, sans-serif;
  font-size: 14px;
}

.custom-slider {
  position: absolute;
  bottom: 10px; /* Espacio desde el fondo del contenedor de Cesium */
  left: 49.5%; /* Centrado horizontal */
  transform: translateX(-50%); /* Ajuste fino para centrar exactamente */
  width: 80%; /* Ancho del slider */
}

.custom-slider .form-range {
  cursor: pointer; /* Cursor tipo pointer para indicar que es interactivo */
  background-color: #f8f9fa; /* Color de fondo del slider */
  border-radius: 10px; /* Bordes redondeados */
  height: 20px; /* Altura del slider */
  -webkit-appearance: none; /* Necesario para estilizar en Chrome */
}

.custom-slider .form-range:focus {
  box-shadow: none; /* Elimina el shadow que Bootstrap aplica en :focus */
}

.custom-slider .form-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  margin-top: -4px; /* Ajuste necesario para alinear con la barra en Chrome */
  width: 20px;
  height: 20px;
  background: #007bff;
  border: none;
  border-radius: 50%;
}

.custom-slider .form-range::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 50%;
  background: #007bff;
}

.custom-slider .form-range::-ms-thumb {
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 50%;
  background: #007bff;
}

.custom-modal-size {
  max-width: 500px;  
  height: auto;  
  max-height: 70vh;  
  margin: auto;  
  position: absolute;
  top: 50%; 
  left: 50%;  
  transform: translate(-50%, -50%);  
  overflow-y: auto;  
}
.custom-modal-size .carousel, .custom-modal-size .carousel-item {
  height: 100%; 
}
.custom-modal-size .modal-content {
  height: 100%; /* Asegurar que el contenido del modal ocupe toda la altura asignada */
  display: flex;
  flex-direction: column; /* Organiza los elementos internos en una columna */
}

.custom-modal-size .modal-body {
  flex: 1;  /* Permite que el cuerpo del modal ocupe el espacio disponible */
  overflow: hidden; /* Evita desbordamientos */
}

.custom-modal-size img {
  max-height: 100%; /* Ajusta la imagen para que no exceda la altura del modal */
  max-width: 100%; /* Ajusta la imagen para que no exceda el ancho del modal */
  object-fit: contain; /* Mantiene la relación de aspecto sin cortar la imagen */
  margin: auto; /* Centra la imagen dentro del modal */
}
.imagen-carousel-model3d {
  max-height: 20%;  /* Establece la altura máxima al 100% del contenedor padre, evitando desbordamiento vertical */
  object-fit: contain;  /* Asegura que la imagen se ajuste dentro de su contenedor sin ser recortada, manteniendo su relación de aspecto */
  width: auto;  /* Permite que el ancho de la imagen se ajuste automáticamente para mantener la relación de aspecto */
  display: block;  /* Hace que la imagen se muestre como un bloque, eliminando cualquier espacio extra alrededor */
  margin: auto;  /* Centra la imagen horizontal y verticalmente dentro de su contenedor */
}
.carousel-item {
  position: relative;
  }
  

  /* Estilos para las anotaciones */
.a9s-annotation {
  stroke-width: 6px; /* Aumenta el grosor del borde a 3px */
  stroke: black; /* Cambia el color del borde a un azul tipo Google */
  fill: transparent; /* Cambia el relleno a un azul claro y translúcido */

}
.a9s-annotationlayer {
  position: absolute;  /* La capa de anotaciones debe ser absoluta respecto al contenedor relativo */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}





