/* App.css */
html, body, #root, .App {
      background-color: #00000091; /* Fondo negro para todo el cuerpo de la página */
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh; /* Esto podría necesitar ser 100vh dependiendo de cómo se muestra */
  overflow: hidden;
}
/* Estilos específicos para el componente FAQ */
.faq-container {
  background-color: #f8f9fa; /* Fondo gris claro para el componente FAQ */
  padding: 20px;
  margin: 20px auto; /* Centrar el FAQ en la página */
  width: 80%; /* Ancho relativo para mejor visualización */
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.App {
  text-align: center;
  height: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
